.container__small-card{
    display: grid;
    grid-template-columns: 1fr 2fr;
    transition: .4s;
}

.container__small-card:hover{
    background-color: #ffffff;
}

.container__small-card:hover *{
        color: #000000;
}

.small-card__photo{
    margin: .25rem;
    padding: .5rem;
}

.small-card__photo > img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.small-card__title{
    margin: .5rem;
    padding: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small-card__title > h3{
    margin-top: .1rem;
    font-size: 1.25rem;
}