.container__menu-bar{
    margin: .25rem;
    overflow: auto;
}

.container__menu-bar > ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

.container__menu-bar > ul > li{
    padding: .5rem;
    transition: .4s;
}

.container__menu-bar > ul > li:hover{
    background-color: #ffffff;
}
.container__menu-bar > ul > li:hover a{
    color: #000000;
}